<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="NETWORKTRACE_TENANTID" value="Your Active Directory App's Tenant Id"/>
    <add key="NETWORKTRACE_CLIENTID" value="Your Active Directory App's Client Id"/>
    <add key="NETWORKTRACE_CLIENTSECRET" value="Your Active Directory App's Client Secret"/>
    
    <!-- If you are configuring this tool to run on a slot, specify the slot name here (e.g. staging) -->
    <add key="NETWORKTRACE_SLOTNAME" value=""/>
  </appSettings>
</configuration>